$theme: #2e3e4e;
$theme-light: #44b4ff;
$theme-dark: #0e76bc;
$theme-vlight: #f5f6f7;
$theme-grey: #68696b;
$theme-green: #92dd5a;
$white: #fff;
$black: #000;
$grey : #ced4da;
$dark-grey: #888;
$light-grey: #eff0f4;
$theme-font: 'Raleway', sans-serif;
