$link: #007bff;
$white: #fff;
$black: #000;
$highlight: #b61ed1;
$theme-font: 'Open Sans', sans-serif;
$dark-grey: #888;
$grey: #eff0f4;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
