@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
* {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Raleway", sans-serif;
}

.sp-header {
  background-color: #2e3e4e;
}

.sp-header .navbar {
  padding: 0;
}

.sp-header .navbar-nav .nav-item>a {
  color: #eff0f4;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.sp-header .navbar-nav .nav-item>a:hover, .sp-header .navbar-nav .nav-item>a.active {
  color: #44b4ff;
}

.sp-header .navbar-nav .nav-item:last-child>a {
  padding-right: 0;
}

.sp-header .navbar-toggler-icon .fas {
  color: #fff;
  font-size: 1.8rem;
}

@media (max-width: 991.98px) {
  .sp-header .navbar-collapse {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    background: #3f5265;
    z-index: 1000;
  }
}

.main-section .container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn.btn-theme {
  background-color: #0e76bc;
  color: #eff0f4;
  letter-spacing: .8px;
}

ul {
  list-style: none;
  padding: 0;
}

.profile-wrap {
  border: 1px solid #ced4da;
}

.profile-wrap .profile-top {
  background-color: #2e3e4e;
  padding: 2rem 1rem 0;
  color: #fff;
  overflow: hidden;
}

.profile-wrap .img-wrap {
  margin-bottom: 1rem;
}

.profile-wrap .profile-bottom ul {
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile-wrap .profile-bottom li {
  padding-top: 1rem;
  border-bottom: 1px solid #ced4da;
  text-align: center;
  color: #68696b;
}

.profile-wrap .profile-bottom li p {
  margin-bottom: .5rem;
}

.profile-wrap .profile-bottom li strong {
  font-size: 1.2rem;
  color: #0e76bc;
}

.profile-wrap .profile-bottom li:last-child {
  border: none;
}

@media (max-width: 991.98px) {
  .profile-wrap {
    margin-bottom: 2rem;
  }
}

.help-wrap .help-top {
  padding: .8rem .8rem 1rem;
  border: 1px solid #ced4da;
}

.help-wrap .help-top a:hover {
  text-decoration: none;
}

.help-wrap .help-top .head {
  margin-bottom: 1rem;
}

.help-wrap .help-top .desc {
  margin-bottom: 0;
  margin-top: 1rem;
  color: #0e76bc;
  font-size: .8rem;
  line-height: 1.2;
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .help-wrap .help-top .img-wrap img {
    width: 100%;
  }
}

.help-wrap .help-bottom {
  padding: .5rem 0;
}

.help-wrap .help-bottom li {
  line-height: 1;
  margin: 0 .2rem;
}

.help-wrap .help-bottom li::after {
  margin-left: .5rem;
  content: '-';
}

.help-wrap .help-bottom li:last-child::after {
  content: '';
}

.help-wrap .help-bottom a, .help-wrap .help-bottom p {
  font-size: .9rem;
  color: #68696b;
}

.help-wrap .help-bottom p {
  margin-top: .3rem;
}

.upload-form {
  border: 1px solid #ced4da;
}

.upload-form header {
  padding: .5rem;
  background-color: #f5f6f7;
}

.upload-form header h6 {
  margin-bottom: 0;
  font-weight: bold;
  color: #68696b;
}

.upload-form form {
  padding: .5rem;
}

.upload-form form .form-group {
  margin-bottom: .5rem;
}

.upload-form form .form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ced4da;
  padding: .5rem;
  height: 2rem;
}

.upload-form form .form-control::-webkit-input-placeholder {
  font-size: .9rem;
}

.upload-form form .form-control::-ms-input-placeholder {
  font-size: .9rem;
}

.upload-form form .form-control::placeholder {
  font-size: .9rem;
}

.upload-form form .form-control:hover, .upload-form form .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.upload-form form .custom-file-label {
  left: .5rem;
  right: .5rem;
}

.upload-form form .custom-file-label span {
  display: inline-block;
  margin-right: .5rem;
}

.upload-form form .custom-file-label::after {
  display: none;
}

.upload-form form .custom-file-label, .upload-form form select {
  border: none;
  background-color: #f5f6f7;
  border-radius: 25px;
  font-weight: bold;
  color: #000;
  font-size: .7rem;
}

@media (min-width: 576px) {
  .upload-form form .custom-file-label, .upload-form form select {
    font-size: .9rem;
  }
}

.post-list .post {
  margin-bottom: 2rem;
  border: 1px solid #ced4da;
}

.post-list .post ul {
  margin-bottom: 0;
}

.post-list .post header {
  padding: .5rem;
}

.post-list .post header a {
  font-weight: bold;
  color: #68696b;
  font-size: .9rem;
}

.post-list .post header li {
  padding-right: .5rem;
}

.post-list .post header li:not(:first-child) {
  padding-right: 15px;
  position: relative;
}

.post-list .post header li:not(:first-child)::after {
  content: '';
  border-left: 8px solid #68696b;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  height: 5px;
  position: absolute;
  top: 25%;
  right: 0;
}

.post-list .post header li:last-child::after {
  display: none;
}

.post-list .post header .post-time {
  font-size: .8rem;
}

.post-list .post .desc {
  padding: .5rem;
  margin-bottom: 0;
}

.post-list .post hr {
  margin: 0;
}

.post-list .post a {
  display: inline-block;
}

.post-list .post li {
  display: inline;
}

.post-list .post .post-action, .post-list .post .comment {
  padding: .5rem;
}

.post-list .post .status span {
  display: inline-block;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}

.post-list .post .status span.active {
  background-color: #92dd5a;
}

.post-list .post .status span.deactive {
  background-color: red;
}

@media (max-width: 767.98px) {
  .post-list .post .status {
    display: inline-block;
    width: 20px;
    text-indent: -999px;
    overflow: hidden;
  }
}

.post-list .post .post-action a {
  color: #68696b;
  border-radius: 50%;
  border: 1px solid #ced4da;
  height: 32px;
  width: 32px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
}

.post-list .post .post-action .count {
  font-size: .9rem;
  width: 30px;
  display: inline-block;
  text-align: center;
}

@media (min-width: 576px) {
  .post-list .post .post-action .count {
    width: 40px;
  }
}

.post-list .post .comment .form-group {
  margin-bottom: 0;
}

.post-list .post .comment .form-control {
  font-size: .9rem;
  border-radius: 25px;
}

.post-list .post .comment .form-control:hover, .post-list .post .comment .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 991.98px) {
  .post-list .post picture img {
    width: 100%;
  }
}

.devider-theme {
  margin: 1rem 0;
  overflow: hidden;
  position: relative;
}

.devider-theme span {
  float: right;
  padding-left: .5rem;
  background-color: #fff;
  z-index: 1;
}

.devider-theme::before {
  content: '';
  top: 50%;
  width: 90%;
  position: absolute;
  height: 1px;
  background-color: #ced4da;
  z-index: -1;
}